<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Playground</title>
		<link rel="stylesheet" type="text/css" href="assets/styles/salesforce-lightning-design-system.css" />
	</head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['gantt']});
		google.charts.setOnLoadCallback(drawChart);

		//funzione per calcolare la durata
		function millisecondsToDays(ms) {
			return ms / 24 / 60 / 60 / 1000;
		}

		//funzione che contiene le specifiche del grafico
		function drawChart() {
			var array0 = ['0', 'Find Sources', 'blue', basta = new Date(2018, 5, 7), un = new Date(2018, 8, 24), millisecondsToDays(un-basta), 33, null];
			var array1 = ['1', 'Create Bibliography', 'red', poco = new Date(2018, 7, 7), di = new Date(2018, 8, 24), millisecondsToDays(di-poco), 25, null];
			var array2 = ['2', 'Outline paper', 'red', zucchero = new Date(2018, 6, 7), e = new Date(2018, 7, 24), millisecondsToDays(e-zucchero), 0, null];
			var array3 = ['3', 'Write paper', 'red', la = new Date(2018, 5, 7), pillola = new Date(2018, 8, 24), millisecondsToDays(pillola-la), 100, null];
			var array4 = ['4', 'Hand in paper', 'yellow', va = new Date(2018, 5, 7), giu = new Date(2018, 8, 17), millisecondsToDays(giu-va), 50, null];

			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('string', 'Resource');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', "Duration");
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');

			data.addRows([array0, array1, array2, array3, array4]);

			//opzioni del grafico (es. larghezza, colore, ecc)
			var options = {
				height: 400,
				gantt: {
					criticalPathEnabled: false,
					innerGridHorizLine: {
						stroke: '#a0a0a0',		//stroke = contorno
						strokeWidth: 1
					},
					innerGridTrack: {
						fill: '#fff'		//colore delle righe dispari
					},
					barHeight: 40,
					innerGridDarkTrack: {
						fill: '#e5e5e5'		//colore delle righe pari
					}
				}
			};
			//la variabile chart serve a individuare dove posizionare il grafico all'interno della pagina
			var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

			//gestione del click sul grafico
			//il click andrà a popolare la tabella (in stile SLDS)
			var IDs = ["task_id", "task_name", "resource", "start_date", "end_date", "duration", "percent_complete"];
			function selectHandler() {
				var selectedItem = chart.getSelection()[0];
				if (selectedItem) {
	 				for(i=0; i<8; i++) {
	 					var value = data.getValue(selectedItem.row, i);
	 					if(IDs[i] == "task_id") {
	 						document.getElementById(IDs[i]).innerHTML = value;
	 					}
	 					if(IDs[i] == "task_name") {
	 						document.getElementById(IDs[i]).innerHTML = value;
	 					}
	 					if(IDs[i] == "resource") {
	 						document.getElementById(IDs[i]).innerHTML = value;
	 					}
	 					if(IDs[i] == "start_date") {
	 						var start = String(value).slice(0, 15);
	 						document.getElementById(IDs[i]).innerHTML = start;
	 					}
	 					if(IDs[i] == "end_date") {
	 						var end = String(value).slice(0, 15);
	 						document.getElementById(IDs[i]).innerHTML = end;
	 					}
						if(IDs[i] == "duration") {
	 						document.getElementById(IDs[i]).innerHTML = value + " days";
	 					}
	 					if(IDs[i] == "percent_complete") {
	 						document.getElementById(IDs[i]).innerHTML = value+"%";
	 					}
	 				}
	 			}
	 		}
	 		google.visualization.events.addListener(chart, 'select', selectHandler);
			//disegna il grafico
	 		chart.draw(data, options);
	 	}
	</script>
	<style>
		.vertical-menu {
			width: 270px;
			border: 1px solid black;
		}

		.vertical-menu a {
			background-color: white;
			color: black;
			display: block;
			padding: 12px;
			text-decoration: none;
			font-family: Tahoma;
			font-size: 14;
			font-weight: bold;
			line-height: 1.5;
		}

		.vertical-menu a:hover {
			background-color: #d2eaf6;
			border-left: 4px solid #209AD6;
		}

		a.active {
			background-color: #8fccea;
			border-left: 4px solid #197bab;
		}

		#head {
			color: grey;
			line-height: 3;
		}

	</style>
	<body>
		<!-- page header -->
		<div class="slds-grid slds-wrap">
			<nav class="slds-col slds-size_1-of-1">
				<div class="slds-page-header">
					<div class="slds-page-header__row">
						<div class="slds-page-header__col-title">
							<div class="slds-media">
								<div class="slds-media__figure">
									<span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
										<svg class="slds-icon slds-page-header__icon" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
										</svg>
										<span class="slds-assistive-text">opportunity</span>
									</span>
								</div>
								<div class="slds-media__body">
									<div class="slds-page-header__name">
										<div class="slds-page-header__name-title">
											<h1>
												<span class="slds-page-header__title slds-truncate" title="Rohde Corp - 80,000 Widgets">Rohde Corp - 80,000 Widgets</span>
											</h1>
										</div>
									</div>
									<p class="slds-page-header__name-meta"><%= user.username %> • Unlimited Customer • 11/13/15</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<!-- menu verticale -->
			<main class="slds-col slds-size_1-of-5">
			<div class="vertical-menu">
				<a href="#" id="head">REPORTS</a>
				<a href="#">Created by Me</a>
				<a href="#" class="active">Private Reports</a>
				<a href="#">Public Reports</a>
				<a href="#">All Reports</a>
				<a href="#" id="head">FOLDERS</a>
				<a href="#">Created by Me</a>
				<a href="#">Shared with Me</a>
				<a href="#">All Folders</a>
			</div>
			</main>
			<aside class="slds-col slds-size_4-of-5">
				<!-- grafico -->
				<div id="chart_div"></div>
			</aside>
			<!-- tabella -->
			<nav class="slds-col slds-size_1-of-1">
				<table class="slds-table slds-table_cell-buffer slds-table_bordered">
					<thead>
						<tr class="slds-line-height_reset">
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="Task Name">Task Name</div>
							</th>
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="Task ID">Task ID</div>
							</th>
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="Task Resource">Task Resource</div>
							</th>
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="Start Date">Start Date</div>
							</th>
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="End Date">End Date</div>
							</th>
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="Duration">Duration</div>
							</th>
							<th class="slds-text-title_caps" scope="col">
								<div class="slds-truncate" title="Percent Complete">Percent Complete</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="slds-hint-parent">
							<th data-label="Task Name" scope="row">
								<div id="task_name" class="slds-truncate" title="Find Sources"><a href="javascript:void(0);" tabindex="-1"></a></div>
							</th>
							<td data-label="Task ID">
								<div id="task_id" class="slds-truncate" title="0"></div>
							</td>
							<td data-label="Task Resource">
								<div id="resource" class="slds-truncate" title="Blue"></div>
							</td>
							<td data-label="Start Date">
								<div id="start_date" class="slds-truncate" title="Start Date"></div>
							</td>
							<td data-label="End Date">
								<div id="end_date" class="slds-truncate" title="End Date"></div>
							</td>
							<td data-label="End Date">
								<div id="duration" class="slds-truncate" title="Duration"></div>
							</td>
							<td data-label="Percent Complete">
								<div id="percent_complete" class="slds-truncate" title="Percent Complete"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</nav>
		</div>
	</body>
</html>
